h1 {
  text-align: center;
}

.container{ 
  display: flex; 
  flex-wrap: wrap; 
}

.container .test{ 
  flex: 30%;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 80px; 
}